<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection settings -->
        <property name="hibernate.connection.url">
            jdbc:mysql://k2.liara.cloud:30055/main_email_?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">jnmeyDzSxK9IyrbU9KaysoCY</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <!-- Entity mappings -->
        <mapping class="milou.model.User"/>
        <mapping class="milou.model.Email"/>
        <mapping class="milou.model.EmailRecipient"/>
    </session-factory>
</hibernate-configuration>
